.profile__photo {
  grid-area: avatar;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 760px) {
  .profile__photo {
    justify-self: center;
  }
}